<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categorias</h4>
                        <ul>
                            <li><input type="checkbox" name="" [(ngModel)]="isCollection"><a>Colecciones</a></li>
                            <li><input type="checkbox" name="" [(ngModel)]="isModel"><a>Muestras</a></li>
                            <li><input type="checkbox" name="" [(ngModel)]="isStamp"><a>Estampas</a></li>
                            <li><input type="checkbox" name="" [(ngModel)]="isVPost"><a>V-Post</a></li>
                            <li><input type="checkbox" name="" [(ngModel)]="isShop"><a>Tienda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-12">
                            <div class="filter__found">
                                <h6><span>{{collectionList.length + modelList.length + stampList.length + vpostList.length + shopList.length}}</span> Artículos encontrados</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <mat-tab-group>
                    <mat-tab label="Colecciones">
                        <div class="container">
                            <div class="card-group vgr-cards">
                                <div class="card" *ngFor="let item of collectionList">
                                    <div class="card-img-body">
                                        <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{item.nombre}}</h4>
                                        <p class="card-text" [innerHTML]='cleanString(item.descripcion) + "..."'>..</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Muestras">
                        <div class="container">
                            <div class="card-group vgr-cards">
                                <div class="card" *ngFor="let item of modelList">
                                    <div class="card-img-body">
                                        <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title" [innerHTML]="item.nombre"></h4>
                                        <p class="card-text" [innerHTML]="cleanString(item.descripcion)"></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Estampas">
                        <div class="container">
                            <div class="card-group vgr-cards">
                                <div class="card" *ngFor="let item of stampList">
                                    <div class="card-img-body">
                                        <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title" [innerHTML]="item.nombre"></h4>
                                        <p class="card-text" [innerHTML]="cleanString(item.descripcion)"></p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tienda">
                        <div class="container">
                            <div class="card-group vgr-cards">
                                <div class="card" *ngFor="let item of shopList">
                                    <div class="card-img-body">
                                        <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title" [innerHTML]="item.nombre"></h4>
                                        <p class="card-text" [innerHTML]="item.descripcion"></p>
                                        <a href="#" class="btn btn-outline-primary">Primary</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>