<div class="row row-lg-eq-height">
    <div class="card card_largest_with_image grid-item">
        <img *ngIf="section.imagen != ''" class="card-img-top" src="{{config.serverNodeLocation}}images/imageForText/{{section.imagen}}">
        <div class="card-body">
            <div class="card-title" style="text-align: center;"><span style="color: rgba(0,0,0,1);">{{section.nombre}}</span></div>

            <div class="tab-content">
                <div class="container">
                    <p class="card-text" [innerHTML]="section.descripcion" style="color: black;">

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section_content">
        <div class="grid clearfix">
        </div>
    </div>
</div>