<div class="row row-lg-eq-height">
  <div class="card card_largest_with_image grid-item">
    <img class="card-img-top" src="../../../assets/images/post_1.jpg" alt="https://unsplash.com/@cjtagupa">
    <div class="card-body">
      <div class="card-title"><span style="color: rgba(0,0,0,1);">{{section.name}}</span></div>

      <div class="tab-content">
        <div class="container">
          <p class="card-text ">{{section.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section_content">
    <div class="grid clearfix">
    </div>
  </div>
</div>
