<div style="margin-top: 10px;" class="post_content">

  <!-- Top Panel -->
  <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
    <h3 [innerHTML]="category.titulo" class="col text-center"></h3>
  </div>

  <!-- Post Body -->

  <div class="post_body row">
    <div class="col-md-6">
      <figure>
        <img src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{vpost.imagen}}/{{section}}/none"
          alt="">
      </figure>
    </div>
    <div class="col-md-4" style="margin: auto; margin-top: 0px;">
      <div _ngcontent-rht-c0="" class="footer_social" style="margin-right: 20px;">
        <span>
          {{'V-Post.Share'|translate}}
        </span>
        <ul _ngcontent-rht-c0="" style="margin-left: 10px; margin-top: 10px;">
          <li _ngcontent-rht-c0="" class="footer_social_facebook"><a _ngcontent-rht-c0="" ><i
                _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-facebook" [socialShare]="'fb'"></i></a></li>

          <li _ngcontent-rht-c0="" class="footer_social_twitter"><a _ngcontent-rht-c0=""><i
                _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-twitter" [socialShare]="'tw'"></i></a></li>

          <li _ngcontent-rht-c0="" class="footer_social_pinterest"><a _ngcontent-rht-c0="" ><i
                _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-pinterest" [socialShare]="'pn'"></i></a></li>

          <li _ngcontent-rht-c0="" class="footer_social_linkedin"><a _ngcontent-rht-c0=""><i
                _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-linkedin" [socialShare]="'in'"></i></a></li>
        </ul>
      </div>
    </div>
  </div>