<div class="container">
    <div class="galeria">
        <div *ngIf="section=== 'tales'; then tale"> </div>
        <div *ngIf="section=== 'store'; then store"> </div>
        <div *ngIf="section=== 'vpost'; then vpost"> </div>
        <div *ngIf="level===3 && section === 'collection'; then textCollection"> </div>
        <div *ngIf="level===2 && section === 'collection'; then item"> </div>
        <div *ngIf="section === 'samples' && level===3 ; then textSamples"> </div>
        <div *ngIf="level===2 && section === 'samples'; then item"> </div>
    </div>


</div>


<ng-template #item>
    <div class="galeria_item" *ngFor="let item of gallerylist">
        <div class="vtn_info_item">
            <h2>
                {{item.nombre}}
            </h2>
        </div>
        <a (click)="open(itemModal)">
            <img class="card-img-top"
                src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{item.imagen}}/{{section}}/{{baseFolder}}"
                alt="">
        </a>
        <ng-template #itemModal let-modal>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" style="float:right;">&times;</span>
            </button>
            <!-- Post Comment -->
            <div class="cui_row">
                <div class="cui_row"
                    style="background-color: #ffffff; padding: 20px; padding-bottom: 20px; border-radius: 5px;">
                    <div class="col text-center"
                        style="background-size: 60%; width: 100%; height: 50px; margin: 0 auto; background-color: #fff; ">
                        <span style="text-align: center; color: black;font-weight: bold;"
                            [innerHTML]="item.nombre">:</span><span
                            style="text-align: center; color: black;font-weight: bold;"
                            [innerHTML]="item.titulo"></span>
                    </div>
                    <img (click)="open(zoom)" class="col text-center"
                        style="bottom: 10px; max-width: 500px; max-height: 500px;"
                        src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{item.imagen}}/{{section}}/{{baseFolder}}"
                        alt="">
                    <p style="text-align:left; line-height:1.6em; color: black; " [innerHTML]="item.descripcion">
                    </p>
                    <div *ngIf="!checkIfIsEmpty(item.emision)">
                        <span style="text-align:left; line-height:1.6em; color: black; font-weight: bold;">Emisión:
                        </span><span style="text-align:left; line-height:1.6em; color: black;"
                            [innerHTML]="item.emision"></span>
                    </div>
                    <div *ngIf="!checkIfIsEmpty(item.color)">
                        <span style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">Color:
                        </span><span style="text-align:left; line-height:1.6em; color: black;"
                            [innerHTML]="item.color"></span>
                    </div>
                    <div *ngIf="!checkIfIsEmpty(item.material)">
                        <span
                            style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">Material:</span><span
                            style="text-align:left; line-height:1.6em; color: black;"
                            [innerHTML]="item.material"></span>
                    </div>
                    <div *ngIf="!checkIfIsEmpty(item.impresion)">
                        <span style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">Impresión:
                        </span><span style="text-align:left; line-height:1.6em;  color: black;"
                            [innerHTML]="item.impresion"></span>
                    </div>
                    <div *ngIf="!checkIfIsEmpty(item.dimension)">
                        <span style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">Dimensión:
                        </span><span style="text-align:left; line-height:1.6em;  color: black;"
                            [innerHTML]="item.dimension"></span>
                    </div>
                    <div *ngIf="!checkIfIsEmpty(item.procedencia)">
                        <span style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">Procedencia:
                        </span><span style="text-align:left; line-height:1.6em;  color: black;"
                            [innerHTML]="item.procedencia"></span>
                    </div>
                    <div *ngIf="!checkIfIsEmpty(item.precio)">
                        <span style="text-align:left; line-height:1.6em; color: black;font-weight: bold; ">Precio:
                        </span><span style="text-align:left; line-height:1.6em;  color: black;"
                            [innerHTML]="item.precio"></span>
                    </div>
                </div>
            </div>
            <ng-template #zoom let-modal>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true" style="float:right;">&times;</span>
                </button>
                <div class="cui_row">
                    <div class="cui_row"
                        style="background-color: #ffffff; padding: 20px; padding-bottom: 20px; border-radius: 5px;">
                        <img class="col text-center" style="bottom: 10px; max-width: 100%; max-height: 100%;"
                            src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{item.imagen}}/{{section}}/{{baseFolder}}"
                            alt="">
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
</ng-template>

<ng-template #vpost>
    <div class="galeria_item" *ngFor="let item of gallerylist">
        <div class="vtn_info_item">
            <h2>
                {{item.nombre}}
            </h2>
        </div>
        <a (click)="open(vpostModal)">
            <img class="card-img-top"
                src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{item.imagen}}/{{section}}/none"
                alt="">
        </a>
        <ng-template #vpostModal let-modal>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" style="float:right;">&times;</span>
            </button>
            <!-- Post Comment -->
            <div class="cui_row">
                <div class="cui_row"
                    style="background-color: #ffffff; padding: 20px; padding-bottom: 20px; border-radius: 5px;">
                    <div class="col text-center"
                        style="background-size: 60%; width: 100%; height: 50px; margin: 0 auto; background-color: #fff; ">
                        <span style="text-align: center; color: black;font-weight: bold;"
                            [innerHTML]="foldername"></span>
                    </div>
                    <img class="col text-center" style="bottom: 10px; max-width: 500px; max-height: 500px;"
                        src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{item.imagen}}/{{section}}/none"
                        alt="">
                    <div class="col text-center">
                        <a [routerLink]="['/share-vpost', item.idPostal,sonLevel,foldername,section]">
                            <button type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">Seleccionar</button>
                        </a>

                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>

<ng-template #textSamples>
    <div class="galeria_item" *ngFor="let item of gallerylist">
        <div class="vtn_info_item">
            <h2>
                {{item.nombre}}
            </h2>
        </div>
        <a [routerLink]="['/text', item.idMuestra,sonLevel,section]">
            <img class="card-img-top"
                src="{{config.serverNodeLocation}}images/none/{{item.carpeta}}/{{item.imagen}}/{{section}}/none" alt="">
        </a>
    </div>
</ng-template>

<ng-template #textCollection>
    <div class="card card_small_with_image grid-item" *ngFor="let item of gallerylist">
        <img class="card-img-top"
            src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{item.carpeta}}/{{item.imagenGaleria}}/{{section}}/{{foldername}}"
            alt="">
        <div class="card-body">
            <div class="card-title card-title-small">
                <a [routerLink]="['/text', item.idCategoria,sonLevel,section]">
                    <p [innerHTML]="item.nombre"></p>
                </a>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #tale>
    <div class="galeria_item" *ngFor="let item of gallerylist">
        <div class="vtn_info_item">
            <h2>
                {{item.nombre}}
            </h2>
        </div>
        <a [routerLink]="['/tale', item.idEstampa]">
            <img class="card-img-top"
                src="{{config.serverNodeLocation}}images/none/{{item.carpeta}}/{{item.imagenGaleria}}/{{section}}/none"
                alt="">
        </a>
    </div>
</ng-template>

<ng-template #store>
    <div class="galeria_item" *ngFor="let item of gallerylist">
        <div class="vtn_info_item">
            <h2>
                {{item.nombre}}
            </h2>
        </div>
        <a [routerLink]="['/store', item.idItem,foldername,section]">
            <img class="card-img-top"
                src="{{config.serverNodeLocation}}images/none/{{foldername}}/{{item.imagen}}/{{section}}/none" alt="">
        </a>
    </div>
</ng-template>