.grid-item {
    width: 159px;
    cursor: pointer;
    margin: 4px;
}

.card-body {
    padding: 5px;
    text-align: center;
    height: 60px;
}

.galeria {
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
    /* overflow: hidden; */
    font-size: 0;
    min-height: 10px;
}

.galeria_item {
    display: inline-table;
    width: 120px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 1em;
    overflow: hidden;
}

.vtn_info_item {
    z-index: 100000;
    position: absolute;
    width: 120%;
    border: 1px #e4e6e8;
    top: 70%;
    margin-left: -17%;
    color: #fff;
    cursor: default;
    display: none;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.vtn_info_item h2 {
    padding: 10px 0;
    background-color: #e4e6e8;
    font-size: .8em;
    line-height: 1.1em;
    color: #2b2b2b;
    border-radius: 9px;
    width: auto;
}

.cui_gal_image {
    vertical-align: bottom;
}

.container {
    display: inline-block;
    min-height: 300px;
}

.categories__slider .col-lg-3 {
    max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
    font-size: 18px;
    color: #1c1c1c;
    height: 70px;
    width: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-35px);
    background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -35px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero__categories {
        margin-bottom: 30px;
    }
    .hero__search__form {
        width: 485px;
    }
    .categories__slider.owl-carousel .owl-nav button {
        left: -20px;
    }
    .categories__slider.owl-carousel .owl-nav button.owl-next {
        right: -20px;
    }
}

@media only screen and (max-width: 767px) {
    .categories__slider.owl-carousel .owl-nav {
        text-align: center;
        margin-top: 40px;
    }
    .categories__slider.owl-carousel .owl-nav button {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translateY(0);
    }
    .categories__slider.owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }
}

.close{
    width: auto;
    margin: 20px;
    cursor: pointer;
    place-self: flex-end;
}


