<div class="grid clearfix">
    <div *ngIf="section=== 'tales'; then tale"> </div>
    <div *ngIf="section=== 'store'; then store"> </div>
    <div *ngIf="section=== 'vpost'; then item"> </div>
    <div *ngIf="level===3 && section === 'collection'; then text"> </div>
    <div *ngIf="level===2 && section === 'collection'; then item"> </div>
    <div *ngIf="level===3 && section === 'samples'; then text"> </div>
    <div *ngIf="level===2 && section === 'samples'; then item"> </div>
</div>

<ng-template #item>
    <div class="card card_small_with_image grid-item" *ngFor="let item of gallerylist">
        <img class="card-img-top" src="{{config.serverNodeLocation}}" alt="">
        <div class="card-body">
            <div class="card-title card-title-small">
                <a [routerLink]="['/item', item.idCategoria, section]">
                    <p [innerHTML]="item.nombre"></p>
                </a>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #text>
    <div class="card card_small_with_image grid-item" *ngFor="let item of gallerylist">
        <img class="card-img-top" src="{{config.serverNodeLocation}}images/{{sonLevel}}/{{foldername}}/{{item.imagenGaleria}}/{{section}}/{{item.carpeta}}" alt="">
        <div class="card-body">
            <div class="card-title card-title-small">
                <a [routerLink]="['/text', item.idCategoria,sonLevel,section]">
                    <p [innerHTML]="item.nombre"></p>
                </a>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #tale>
    <div class="card card_small_with_image grid-item" *ngFor="let item of gallerylist">
        <img class="card-img-top" src="{{config.serverNodeLocation}}" alt="">
        <div class="card-body">
            <div class="card-title card-title-small">
                <a [routerLink]="['/tale', item.idCategoria]">
                    <p [innerHTML]="item.nombre"></p>
                </a>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #store>
    <div class="card card_small_with_image grid-item" *ngFor="let item of gallerylist">
        <img class="card-img-top" src="{{config.serverNodeLocation}}" alt="">
        <div class="card-body">
            <div class="card-title card-title-small">
                <a [routerLink]="['/store', item.idCategoria]">
                    <p [innerHTML]="item.nombre"></p>
                </a>
            </div>
        </div>

    </div>
</ng-template>