<div class="super_container">
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="row large">
                <div class=" col-12 flex justify-content-between justify-content-lg-end align-items-center">
                    <div _ngcontent-rht-c0="" class="footer_social" style="margin-right: 20px;">
                        <ul _ngcontent-rht-c0="">
                            <li _ngcontent-rht-c0="" class="footer_social_facebook"><a _ngcontent-rht-c0="" href="https://www.facebook.com/pages/category/Reference-Website/Cuba-Museo-130541420455483/"><i
                                        _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-facebook"></i></a></li>
                            <li _ngcontent-rht-c0="" class="footer_social_twitter"><a _ngcontent-rht-c0="" href="#"><i
                                        _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-twitter"></i></a></li>
                            <li _ngcontent-rht-c0="" class="footer_social_pinterest"><a _ngcontent-rht-c0="" href="#"><i
                                        _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-pinterest"></i></a></li>
                            <li _ngcontent-rht-c0="" class="footer_social_vimeo"><a _ngcontent-rht-c0="" href="#"><i
                                        _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-vimeo"></i></a></li>
                            <li _ngcontent-rht-c0="" class="footer_social_instagram"><a _ngcontent-rht-c0="" href="#"><i
                                        _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li _ngcontent-rht-c0="" class="footer_social_google"><a _ngcontent-rht-c0="" href="#"><i
                                        _ngcontent-rht-c0="" aria-hidden="true" class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                    <div class="search large">

                        <div class="form">
                            <input type="search" class="header_search_input menu_mm" [(ngModel)]="query" placeholder="{{'Search.Placeholder'| translate}}" (keyup.enter)="search()">
                            <a [routerLink]="[ '/search', query ]">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="language">
                        <img lang="es" (click)="change('es')" src="../assets/images/espana.png" style="max-width: 20px; max-height: 20px;">
                        <img lang="en" (click)="change('en')" src="../assets/images/bandera.png" style="max-width: 20px; max-height: 20px;margin-left: 5px;">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">

                    <div class="header_content justify-content-lg-center align-content-lg-center">
                        <div class="row scrolled-logo">
                            <div class="col-12">
                                <div class="site-branding flex flex-column align-items-center">
                                    <img src="../assets/images/logo-naranja.png" class="image-logo-large" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="logo" (click)="categoryType.next('collection')">
                            <!-- <h1 class="site-title">
                                <a [routerLink]="['/collection', '1' ]">Cuba Museo</a>
                            </h1> -->
                            <img src="../assets/images/logo-naranja.png" class="image-logo-short" alt="">
                        </div>
                        <nav class="main_nav" style="margin-left: auto;">
                            <ul>
                                <li (click)="categoryType.next('collection')" class="active"><a [routerLink]="['/collection', '1']">{{'Menu.Colecciones'|translate}}</a></li>
                                <li (click)="categoryType.next('tales')"><a [routerLink]="['/tales', '2']">{{'Menu.Estampas'|translate}}</a>
                                </li>
                                <li (click)="categoryType.next('samples')"><a [routerLink]="['/samples', '3']">{{'Menu.Muestras'|translate}}</a></li>
                                <li (click)="categoryType.next('vpost')"><a [routerLink]="['/vpost', '6']">{{'Menu.Postales'|translate}}</a>
                                </li>
                                <li (click)="categoryType.next('store')"><a [routerLink]="['/store', '7']">{{'Menu.Tienda'|translate}}</a>
                                </li>
                            </ul>
                        </nav>

                        <div class="hamburger ml-auto menu_mm" style="float: right;">
                            <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="logo menu_mm"><a href="#">Cuba Museo</a></div>
        <div class="search">
            <div class="form" style="display: flex;">
                <input type="search" class="header_search_input menu_mm" style="background: none;" [(ngModel)]="query" placeholder="{{'Search.Placeholder'| translate}}" (keyup.enter)="search()">
                <a [routerLink]="[ '/search', query ]" style="align-self: center;">
                    <i class="fa fa-search"></i>
                </a>
            </div>
            <div class="language">
                <img lang="es" (click)="change('es')" src="../assets/images/espana.png" style="max-width: 20px; max-height: 20px;">
                <img lang="en" (click)="change('en')" src="../assets/images/bandera.png" style="max-width: 20px; max-height: 20px;margin-left: 5px;">
            </div>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li (click)="categoryType.next('collection')" class="menu_mm"><a [routerLink]="['/collection', '1']">{{'Menu.Colecciones'|translate}}</a></li>
                <li (click)="categoryType.next('tale')" class="menu_mm"><a [routerLink]="['/tales', '2']">{{'Menu.Estampas'|translate}}</a>
                </li>
                <li (click)="categoryType.next('samples')" class="menu_mm"><a [routerLink]="['/samples', '3']">{{'Menu.Muestras'|translate}}</a></li>
                <li (click)="categoryType.next('vpost')" class="menu_mm"><a [routerLink]="['/vpost', '6']">{{'Menu.Postales'|translate}}</a>
                </li>
                <li (click)="categoryType.next('store')" class="menu_mm"><a [routerLink]="['/store', '7']">{{'Menu.Store'|translate}}</a>
                </li>

            </ul>
        </nav>
    </div>

    <!-- Home -->

    <!-- <div class="home">
            
            <div class="home_slider_container">
                <div class="owl-carousel owl-theme home_slider">

                    <div class="owl-item">
                        <div class="home_slider_background" style="background-image:url(../assets/images/home_slider.jpg)"></div>
                        <div class="home_slider_content_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_slider_content">
                                            <div class="home_slider_item_title">
                                                <a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the
                                                    Most Complex Concepts in
                                                    Physics?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="custom_nav_container home_slider_nav_container">
                    <div class="custom_prev custom_prev_home_slider">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                            <polyline fill="#FFFFFF"
                                points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
                        </svg>
                    </div>
                    <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
                        <li class="custom_dot custom_dot_home_slider active"><span></span></li>
                        <li class="custom_dot custom_dot_home_slider"><span></span></li>
                        <li class="custom_dot custom_dot_home_slider"><span></span></li>
                    </ul>
                    <div class="custom_next custom_next_home_slider">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                            <polyline fill="#FFFFFF"
                                points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
                        </svg>
                    </div>

                </div>
            </div>
        </div> -->


    <div class="row page_content">
        <div class="container col-sm-2">
            <div class="row">
                <div class="similar_posts_container">
                    <app-category [categoryType]="categoryType.asObservable()"></app-category>
                </div>
            </div>
        </div>
        <div class="container col-sm-9">
            <!-- <app-ng7-mat-breadcrumb></app-ng7-mat-breadcrumb> -->
            <router-outlet></router-outlet>
            <app-scroll-top></app-scroll-top>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9 order-lg-1 order-2">
                    <div class="footer_content">
                        <div class="footer_logo"><a href="#">Cuba Museo</a></div>
                        <div class="footer_social">
                            <ul>
                                <li class="footer_social_facebook"><a href="#"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="footer_social_twitter"><a href="#"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="footer_social_pinterest"><a href="#"><i class="fa fa-pinterest"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="footer_social_vimeo"><a href="#"><i class="fa fa-vimeo"
                                            aria-hidden="true"></i></a></li>
                                <li class="footer_social_instagram"><a href="#"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="footer_social_google"><a href="#"><i class="fa fa-google"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> {{'Derechos.Derechos'|translate}} <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">LocalsJobsCompany</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 order-1">
                    <div class="subscribe">
                        <div class="subscribe_background"></div>
                        <div class="subscribe_content">
                            <div class="additional_content">
                                <!-- <ul>
                                    <li><a (click)="open(contact)">Contacto</a></li>
                                    <li><a (click)="open(aboutUs)">Quienes
                                                Somos</a></li>
                                    <li><a (click)="open(news)">Noticias</a>
                                    </li>
                                    <li><a (click)="open(relatedSites)">Sitios
                                                Relacionados</a></li>
                                </ul> -->
                                <div class="row align-items-center">
                                    <div class="col-lg-12 col-sm-3 col-6">
                                        <a (click)="open(contact)">{{'Contact.TITLE'|translate}}</a>
                                    </div>
                                    <div class="col-lg-12 col-sm-3 col-6">
                                        <a (click)="open(aboutUs)">{{'About.TITLE'|translate}}</a>
                                    </div>
                                    <div class="col-lg-12 col-sm-3 col-6">
                                        <a (click)="open(news)">{{'News.TITLE'|translate}}</a>
                                    </div>
                                    <div class="col-lg-12 col-sm-3 col-6">
                                        <a (click)="open(relatedSites)">{{'RelatedSites.TITLE'|translate}}</a>
                                    </div>
                                </div>

                                <ng-template #contact let-modal>
                                    <button type="button" style="border: rgb(255, 255, 255);" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true" style="border: rgb(255, 255, 255); float:right;">&times;</span>
                                    </button>
                                    <div class="" style="background-image: url(images/logocm.png); background-repeat: no-repeat; background-position: center center; background-size: 60%; width: 50%; height: 150px; margin: 0 auto; background-color: #fff; ">
                                        <span> {{'Contact.TITLE'|translate}}</span>
                                    </div>
                                    <!-- Post Comment -->
                                    <div class="post_comment">
                                        <div class="contact_form_container">
                                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
                                                <input id="name" formControlName="name" type="text" class="contact_input contact_input_name" placeholder="{{'Contact.NAME'|translate}}" required="required">
                                                <input id="email" formControlName="email" type="email" class="contact_input contact_input_email" placeholder="{{'Contact.EMAIL'|translate}}" required="required">
                                                <textarea id="text" formControlName="text" class="contact_text" placeholder="{{'Contact.TEXT'|translate}}" required="required"></textarea>
                                                <button type="submit" class="contact_button">{{'Contact.SEND'|translate}}</button>
                                            </form>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template #aboutUs let-modal>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true" style="float:right;">&times;</span>
                                    </button>


                                    <!-- Post Comment -->
                                    <div class="cui_row">
                                        <div class="cui_row" style="background-color: #ffffff; padding: 20px; padding-bottom: 40px; border-radius: 5px;">
                                            <div class="" style="background-image: url(images/logocm.png); background-repeat: no-repeat; background-position: center center; background-size: 60%; width: 50%; height: 150px; margin: 0 auto; background-color: #fff; ">
                                                <span> {{'About.TITLE'|translate}}</span>
                                            </div>
                                            <p style="text-align:left; line-height:1.6em;" [innerHTML]="'About.TEXT'|translate">

                                            </p>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template #news let-modal>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true" style="float:right;">&times;</span>
                                    </button>

                                    <!-- Post Comment -->
                                    <div class="cui_row">
                                        <div class="cui_row" style="background-color: #ffffff; padding: 20px; padding-bottom: 40px; border-radius: 5px;">
                                            <div class="" style="background-image: url(images/logocm.png); background-repeat: no-repeat; background-position: center center; background-size: 60%; width: 50%; height: 150px; margin: 0 auto; background-color: #fff; ">
                                                <span> {{'News.TITLE'|translate}}</span>
                                            </div>
                                            <p style="text-align:left; line-height:1.6em;" [innerHTML]="'News.TEXT'|translate">

                                            </p>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template #relatedSites let-modal>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true" style="float:right;">&times;</span>
                                    </button>
                                    <!-- Post Comment -->
                                    <div class="cui_row">
                                        <div class="cui_row" style="background-color: #ffffff; padding: 20px; padding-bottom: 40px; border-radius: 5px;">
                                            <div class="" style="background-image: url(images/logocm.png); background-repeat: no-repeat; background-position: center center; background-size: 60%; width: 50%; height: 150px; margin: 0 auto; background-color: #fff; ">
                                                <span style="text-align: center;"> {{'RelatedSites.TITLE'|translate}}
                                                </span>
                                            </div>
                                            <p style="text-align:left; line-height:1.6em;" [innerHTML]="'RelatedSites.TEXT'|translate">
                                            </p>
                                        </div>
                                    </div>
                                </ng-template>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>