.item {
    text-align: center;
}

img {
    max-width: fit-content;
    align-self: center;
    display: initial !important;
}

.owl-stage-outer {
    left: 15px;
}

.card-category {
    max-width: 180px;
}

.card-category a{
    text-align: center;
}

.card a{
    text-align: center;
}

.colum-list {
    display: flex;
    justify-content: center;
}

.card-img-top{
    width: auto;
    max-width: 100%;
}
