<section class="categories">
    <div class="container">

        <owl-carousel [options]="carouselOptions" [items]="categoryList" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div *ngIf="category === 'collection'; then collection"></div>
            <div *ngIf="category === 'vpost'; then vpost"></div>
            <div *ngIf="category === 'store'; then store"></div>
            <div *ngIf="category === 'samples' ; then otherSection"></div>
            <div *ngIf="category === 'tales' ; then otherSection"></div>

            <ng-template #collection>
                <div class="item" *ngFor="let item of categoryList">
                    <div class="card card-category" style="width: 18rem;">
                        <img src="{{config.serverNodeLocation}}images/imageForCategory/{{item.imagenMenu}}/{{category}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/text',item.idSeccion,sonLevel,category]">
                                <p [innerHTML]="item.nombre"></p>
                            </h5>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #otherSection>
                <div class="item" *ngFor="let item of categoryList">
                    <div class="card" style="width: 18rem;">
                        <img src="{{config.serverNodeLocation}}images/imageForCategory/{{item.imagenMenu}}/{{category}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/gallery',item.idCategoriaEstampa,sonLevel,category]">
                                <p [innerHTML]="item.nombre"></p>
                            </h5>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #vpost>
                <div class="item" *ngFor="let item of categoryList">
                    <div class="card" style="width: 18rem;">
                        <img src="{{config.serverNodeLocation}}images/imageForCategory/{{item.imagenMenu}}/{{category}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/gallery',item.idCategoriaPostal,sonLevel,category, item.nombre]">
                                <p [innerHTML]="item.nombre"></p>
                            </h5>
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template #store>
                <div class="item" *ngFor="let item of categoryList">
                    <div class="card" style="width: 18rem;">
                        <img src="{{config.serverNodeLocation}}images/imageForCategory/{{item.imagenMenu}}/{{category}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/gallery',item.idTematica,sonLevel,category, item.nombre]">
                                <p [innerHTML]="item.nombre"></p>
                            </h5>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel>
    </div>

</section>