<div class="row row-lg-eq-height">
    <div class="card card_largest_with_image grid-item">
        <img *ngIf="baseFolder" class="card-img-top" src="{{configService.serverNodeLocation}}images/{{level}}/{{section.carpeta}}/{{section.imagen}}/{{category}}/{{baseFolder}}">
        <img *ngIf="!baseFolder" class="card-img-top" src="{{configService.serverNodeLocation}}images/{{level}}/{{section.nombre}}/{{section.imagen}}/{{category}}/none">
        <div class="card-body">
            <div class="card-title"><span style="color: #8fd0a6"><h3 [innerHTML]="section.titulo"></h3></span></div>


            <div class="card-nav">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#text" class="nav-link active" data-toggle="tab" style="color: darkgray;">Texto</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gallery" class="nav-link" data-toggle="tab" style="color: darkgray;">Galeria</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="container tab-pane active" id="text">
                    <p class="card-text " [innerHTML]="section.descripcion"></p>
                </div>
                <div *ngIf="level === 3 && category ==='collection'" class="container tab-pane fade" id="gallery">
                    <app-gallery-list [folder]="section.nombre" [tagSection]="category" [tagLevel]="level" [tagItemId]="section.idSeccion"></app-gallery-list>
                </div>
                <div *ngIf="level === 2 && category ==='collection'" class="container tab-pane fade" id="gallery">
                    <app-gallery-list [folder]="section.carpeta" [tagSection]="category" [tagLevel]="level" [tagItemId]="section.idCategoria"></app-gallery-list>
                </div>
                <div *ngIf="level === 2 && category ==='samples'" class="container tab-pane fade" id="gallery">
                    <app-gallery-list [folder]="section.nombre" [tagSection]="category" [tagLevel]="level" [tagItemId]="section.idMuestra"></app-gallery-list>
                </div>
            </div>
        </div>
    </div>
    <div class="section_content">
        <div class="grid clearfix">
        </div>
    </div>
</div>